
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #D3D3D3;  
  }
}

h1 {
  color: #136b37;  
}

  
h2 {
  color: #136b37;
  font-family: Heuvetica, Arial, Sans;
  text-decoration: none;
  border-bottom: 2px solid #136b37;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
}

h4 {
color: #136b37;
font-family: Heuvetica, Arial, Sans;
text-decoration: none;
margin-bottom: 0;
padding-top: 5px;
margin-top: 0px;
font-style: normal;
font-weight: bold;
}

/* Header/logo Title */
.header {
  display: flex;
  padding-top: 15px;  
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  background:  #48744e;
  color: white;
  text-decoration: none;
}


.triagem {
  /* background-color: #fff; */
  background-color: #f8f8f8;
  color: #136b37;
  margin-top: 0%;
  padding-top: 2px;
  padding-left: 35px;
  height: auto;
  border-radius: 8px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: left;
  background-color: #fff;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.w3-input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #008000;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 13px;
  text-transform: uppercase;
}

.textarea[type=text] {
  text-transform: uppercase;
  border-radius: 8px;
  /* background-color: #f8f8f8; */
  resize: none;
}
.w3-input[type=Email] {  
  text-transform: lowercase;
}

/* .w3-card {
  width:100%;
} */

/* Main column */
.main {
  flex: 100%;
  background-color: #f8f8f8;
  /* background-color: #fff; */
  padding-left: 20px;
  border-radius: 8px;
}

/* Fake image, just for this example */
/* .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
} */

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 550px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

/* ========================================================================== */

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  display: flex;
  border-radius: 8px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin: -5px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content a:hover {background-color:#96e4a0}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color:  #48744e;
  /* color:  #96e4a0; */
 
}

/* ================================================================== */

/* .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-align: left;
  background-color: navajowhite;
  border-radius: 8px;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 5px;
  flex: 100%;
  border-radius: 8px;
  border: 1px solid #008000;
  
}

label {
  font-size: 0.9rem;
} */


/* Responsive layout - makes a one column-layout instead of two-column layout */
/* @media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
} */

